service bootanim /system/bin/bootanimation
    class core
    user graphics
    group graphics audio
    disabled
    oneshot
    writepid /dev/stune/top-app/tasks
service shutdownanim /system/bin/bootanimation -shutdown
    class core
    user graphics
    group graphics audio
    disabled
    oneshot